<div>
    1-برای آپلود و دانلود فایل ابتدا باید یک توکن از آدرس زیر دریافت کنید:
</div>
<div>
    /api/GetToken
</div>
<div>
    لازم به ذکر است که توکن 30ثانیه اعتبار دارد و پس از منقضی می شود. برای تغییر زمان آن می توان در فایل web.config مقدار TokenValidityTime راتغییر داد
</div>
<div>
    2-برای آپلود فایل از آدرس زیر استفاده شود. 
</div>
<div>
    /api/Upload
</div>
<div>
    همچنین باید به همراه فایل مقدار Token هم پست شود 
</div>
<div>
    3-برای دانلود فایل باید مقادیر  Token و Id به آدرس زیر پست شود.
</div>
<div>
    /api/Download
</div>
